<!-- edit comments view -->

<div>
<h2>Edit Comment:</h2>


<% commentToEdit = @comment%>
<% comment_id_value = commentToEdit.id %>
<% review_id = commentToEdit.review_id.to_s %>
<br />
Comment ID: <%= commentToEdit.id %> <br /><br />
Belongs to Review ID: <%= review_id %>
<br /><br />
Comment Text: <%= commentToEdit.comment%> <br /><br />


<br />


<!--Display current user comment and allow for update. -->

<%= render 'comment_form' %>
<% returnPage = review_path "#{review_id}"%>
<%= link_to 'Back to Review', returnPage %>
</div>

