
<p>
  <strong>Title:</strong>
  <%= @article_post.title %>
</p>
<p>
  <strong>Poster:</strong>
  <%= @article_post.poster %>
</p>

<p>
  <strong>Date:</strong>
  <%= @article_post.date %>
</p>

<p>
  <strong>Article:</strong>
  <%= @article_post.article %>
</p>
<% if controller.allow_access_if_owner_name_is_or_rank_at_least("#{@article_post.poster}", 1) %>
  <%= link_to 'Edit', edit_article_post_path(@article_post) %> |
  <%= link_to 'Delete', @article_post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', article_posts_path %>


<p>
   <h2>Comments:</h2>
   <% for comment in @article_post.comments.reverse %>
   posted by: <%= comment.poster %><br />
       on: <%= comment.date %><br />
   <%= comment.comment %><br /><br />
   <div class="indexIdInfo">
   Review ID: <%= @article_post.id %><br />
   Comment ID:<%= comment.id %> <br /><br />
   <%@comment_id_value = comment.id %>
   <%@article_post_id_value = @article_post.id %>
  </div>
   <!--Validate that current logged user has ownership of this post -->
     <% if controller.allow_access_if_owner_name_is_or_rank_at_least("#{comment.poster}", 1) %>
       <%= link_to 'Edit', edit_comment_path(comment) %> |
       <%= link_to 'Delete Comment', action: :delete_comment, :comment_id => @comment_id_value, :article_post_id => @article_post_id_value  %><br />
     <% end %>
   <% end %>

</p>
<hr />
<h2>Submit new comment:</h2>
<%= form_tag :action => 'comment', :id => @article_post do%>
<% if controller.user_is_logged_in() %>
<strong><!--Poster: --></strong><%= hidden_field "comment", "poster", :value => "#{controller.get_user}"  %><br /><br />
<% else %>
<strong>Currently Not Logged In.</strong><%= hidden_field "comment", "poster", :value => "Anonymous"  %><br /><br />
<% end %>
<strong>Date: </strong><%= datetime_select "comment", "date" %><br /><br />
<strong>Comment:</strong><br />
<%= text_area "comment", "comment", :rows => 5 %><br />
<%= submit_tag "Comment" %>
<% end %>

