
<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @news.date %>
</p>

<p>
  <strong>Article:</strong>
  <br />
  <%= @news.article %>
</p>

<div class="indexIdInfo">News ID: <%= @news.id %></div><br />
<% if controller.allowAccessIfUserRankAtLeast(1)  %>
  <%= link_to 'Edit', edit_news_path(@news) %>|
  <%= link_to 'Delete', @news, method: :delete, data: { confirm: 'Are you sure?' } %>|
<% end %>
<%= link_to 'Back', news_index_path %>





