<!--The Main Window View -->

<table>


  <tbody>
   
    <br />  
    <h1 id="mainWindowHeader">Restaurant Reviews</h1>
    <br />
    <br />
    <% for review in @reviews %>
      <tr>
        <tr>
          <td>
            <%= link_to review.title, review %>  submitted by <%= review.poster %><br />
            <%= review.date %><br />
            <%= review.article %><br /><br />
            <div class="indexIdInfo">id Value: <%= review.id %><br/></div>
          </td>
        </tr>
        <tr>
          
          <td><%= link_to 'Show', review %>
            <% if controller.allowAccessIfOwnerNameIsOrRankAtLeast("#{review.poster}", 1) %>
              <%= link_to 'Edit', edit_review_path(review) %>
              <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
            <% end %>
          </td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />
<%= link_to 'New Review', new_review_path %>
<%= link_to 'RSS Feed', "reviews.rss"%> 


